<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>lost_found</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
		<script type="text/javascript" src="__PUBLIC__/js/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
	</head>
	<body>
		
		<div class="page-header">
		  <h4>所有失物模块</h4>
		</div>

		<ul class="list-group">
		  <foreach name="list" item="l" >
				<a  href="{:U('BackgroundAdmin/SchoolmateMien/showNewsPage',array('id'=>$news['id']))}">
				  <li class="list-group-item listItems">
				  	<div class="row">
					  <div class="col-xs-7 col-sm-7 col-md-7">
					  	<font style="color:#666">
								  	
							失物人的学号：{$l['lost_number']}
							失物人的姓名：{$l['lost_name']}
							失物时间：<?php echo date('Y-m-d',$l['time']); ?>
							失物类型：{$l['lost_type']}

		   				 </font>
					  	<div style="width: 90%;margin-left: 5%">
						   
					  	</div>
					    
					  </div>
					  <div class="col-xs-5 col-sm-5 col-md-5" align="right">
					  	    <a class="btn btn-primary" href="{:U('Home/AllLost/lostDetail',array('lost_id'=>$l['lost_id']))}" style="text-decoration:none;">详情
							</a>
					  </div>
					</div>
				  </li>
			   </a>
			   </foreach>	
		  </ul>
		  <h3>{$page}</h3>
		  <form method="post" action="{:U('Home/AllLost/lostlist')}">
          <label id="lblSelect">
          <select class="form-control" name="p" selected="p" id="selectStyle">
          <?php for($i=1;$i<=($count/5+1);$i++){?>
          <option><?php echo $i; ?></a></option>
          <?php } ?>
          </select>
          </label>
          <input class="btn btn-default" type="submit" value="跳转">
          </form>
	</body>
</html>