@charset "UTF-8";
body{
	font-family: "Arial","STHeiti Light",sans-serif;
	font-size: 40px;
	margin: 0;
    padding: 0;
    background-color:#DDDDDD;
    background-size: cover;
    height:90%;
    width:100%;
}
body h1{
	text-align: center;
	color: #808080;
}
body  input[type='text'], body input[type='password'] {
  text-align:right;
  color: gray;
  min-width: 20%;
  max-width: 50%;
  height: 80px;
  margin-top: -2px;
  background: ;
  left: 0;
  padding: 12px 7%;
  border-top: 6px solid #A2A2A2;
  border-bottom: 6px solid  #A2A2A2;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: 'Gudea', sans-serif;
  font-size: 40px;
  box-shadow: none;
  float:right;
}
body  button{
	margin:50px 50px 50px 50px;
}
body span{
	position:relative;
  	top:30px;
  	color: white;
  	height: 80px;
  
  background: gray;
  min-width: 400px;
  left: 0;
  padding: 25px 12.5%;
  border-top: 6px solid #A2A2A2;
  border-bottom: 6px solid #A2A2A2;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: 'Gudea', sans-serif;
  font-size: 40px;
  box-shadow: none;
}
#mobileTitle{
	position:relative;
  	top:30px;
  	color: white;
  	height: 80px;
  
  background: gray;
  min-width: 400px;
  left: 0;
  padding: 25px 10%;
  border-top: 6px solid #A2A2A2;
  border-bottom: 6px solid #A2A2A2;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: 'Gudea', sans-serif;
  font-size: 40px;
  box-shadow: none;
}
body .Msg{
  
  color: white;
  min-width: 80%;
  
  height: 80px;
  margin-top: -2px;
  background: gray;
  left: 0;
  padding: 12px 7%;
  border-top: 6px solid #A2A2A2;
  border-bottom: 6px solid #A2A2A2;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: 'Gudea', sans-serif;
  font-size: 40px;
  box-shadow: none;
  
}
body  button{
	min-width: 35%;
  height:100px;
  background-color:green;
  border-radius: 20px;
  padding: 10px 50px;
  border: 2px solid #A5F028;
  color: #A5F028;
  text-transform: uppercase;
  font-size: 40px;
}
body button:hover {
  color: white;
  background: #A5F028;
  cursor: pointer;
  -webkit-transition-property: background,color;
          transition-property: background,color;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}