@charset "UTF-8";
body{
	font-family: "Arial","STHeiti Light",sans-serif;
	font-size: 40px;
	margin: 0;
    padding: 0;
    background-color:#DDDDDD;
    height:90%;
    width:100%;
}
body h1{
	text-align: center;
	color: #808080;
}
body  input[type='text'], body input[type='password'] {
  text-align:right;
  color: gray;
  width: 45%;
  height: 80px;
  margin-top: -2px;
  background: ;
  left: 0;
  padding: 12px 7%;
  border-top: 6px solid #A2A2A2;
  border-bottom: 6px solid #A2A2A2;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: 'Gudea', sans-serif;
  font-size: 40px;
  box-shadow: none;
  float:right;
  position:relative;
    top:30px;
}
#desc{
  text-align:right;
  color: gray;
  width: 45%;
  height: 80px;
  margin-top: -2px;
  background: ;
  left: 0;
  padding: 12px 7%;
  border-top: 6px solid #A2A2A2;
  border-bottom: 6px solid  #A2A2A2;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: 'Gudea', sans-serif;
  font-size: 40px;
  box-shadow: none;
  float:right;
  position:relative;
    top:30px;
}


body  button{
	margin:50px 20px 50px 50px;
}
body span{
	position:relative;
  	top:30px;
  	color: white;
  	height: 54px;
  display:-moz-inline-box;
  display:inline-block;
  background: gray;
  width: 28%;
  left: 0;
  padding: 25px 6%;
  border-top: 6px solid  #A2A2A2;
  border-bottom: 6px solid #A2A2A2;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: 'Gudea', sans-serif;
  font-size: 40px;
  box-shadow: none;
}
#firstTitle{
  position:relative;
  top:30px;
  color: white;
  height: 54px;
  
  background: gray;
  width: 28%;
  left: 0;
  padding: 25px 6%;
  border-top: 6px solid #A2A2A2;
  border-bottom: 6px solid  #A2A2A2;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: 'Gudea', sans-serif;
  font-size: 40px;
  box-shadow: none;
}
body .Msg{
  
  color: white;
  min-width: 80%;
  height: 80px;
  margin-top: -2px;
  background:gray;
  left: 0;
  padding: 12px 7%;
  border-top: 6px solid #A2A2A2;
  border-bottom: 6px solid  #A2A2A2;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: 'Gudea', sans-serif;
  font-size: 40px;
  box-shadow: none;
  
}
body  button{
  width: 40%;
  height:100px;
  border-radius: 20px;
  background: green;
  padding: 10px 50px;
  border: 2px solid #A5F028;
  color: #A5F028;
  text-transform: uppercase;
  font-size: 40px;
  margin:50px 4.5% 50px 4.5%;
}
body button:hover {
  color: white;
  background: #A5F028;
  cursor: pointer;
  -webkit-transition-property: background,color;
          transition-property: background,color;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}