@charset "UTF-8";
table.imagetable {  
	width:100% ;
	border:1px solid gray; 
	border-radius:5px;
    font-family: 微软雅黑,sans-serif;  
    font-size:30px;  
    font
    color:gray;  
    border-width: 2px;  
    border-color: ;  
    border-collapse: collapse;  
    
}  
table.imagetable td {  
    background:white;
    border-width: 2px;  
    padding: 8px;  
    color:gray; 
    border-style: solid;  
    border-color: #CCCCCC;  
    
}  
table a{
	float: right;
	text-align: right;
	color:blue; 
}