<!DOCTYPE html>
<html lang="">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>lost_found</title>
      <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
      <script type="text/javascript" src="__PUBLIC__/js/jquery-2.2.4.min.js"></script>
      <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
   </head>
   <body>
            <font style="color:#666">
                        <div class="page-header">
                          <h4>新建个人报失模块</h4>
                        </div>            
                        <div class="form-group">
                        <label>失物者学号:</label>
                        <input class="form-control" type="text" id="number" size="30"/>
                        </div>
                        <div class="form-group">
                        <label><span>失物者姓名:</span></label>
                        <input class="form-control" type="text" id="name" size="30" />
                        </div>
                        <div class="form-group">
                        <label><span>失物类型: </span></label>
                        <label id="lblSelect">
                        </label>
                        </div>
                        <div class="form-group">
                        <select class="form-control" id="selectStyle">
                        <option value ="校园卡">校园卡</option>
                        <option value ="学生证">学生证</option>
                        <option value="书包">书包</option>
                        <option value="钱包">钱包</option>
                        <option value="书本">书本</option>
                        <option value="手机">手机</option>
                        <option value="电脑">电脑</option>
                        </select>
                        </label>
                        </div>
                        <div class="form-group">
                        <label><span>失物备注信息:</span></label>
                        <textarea class="form-control" rows="2" id="desc" placeholder="失物外形、地点..."/></textarea>
                        </div>
                       
              <div align="left" style="margin-bottom: 1em">
              <button class ="btn btn-primary" onclick="personallostadd()">
              提交失物表单
              </button>
             </div>
            </font>
               

            <div style="visibility:hidden;display:none">
               <div id="personallostaddAjax">
               {:U('Home/Personal/lostaddAjax')}
               </div>
               <div id="loginindex">
               {:U('Home/Personal/index')}
               </div>
            </div>
            <script type="text/javascript">


            
                    //点击提交按钮时进行提交
                     var personallostadd = function(){
                        var data = {
                           type:$('#selectStyle').val(),
                           name:$('#name').val(),
                           number:$('#number').val(),
                           desc:$('#desc').val()
                        }
                        $.ajax({
                           url:$('#personallostaddAjax').html(),
                           type:'post',
                           data:data,
                           //请求成功
                           success:function(res){
                              if(res.success){
                                 alert(res.msg);
                                 window.location.href = $('#loginindex').html();
                              }else {
                                 alert(res.errmsg);
                              }
                           },
                           //请求失败
                           error:function(){
                              alert('网络错误');
                           }
                        })
                     }
                

            </script>
   </body>
</html>