<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>lost_found</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
		<script type="text/javascript" src="__PUBLIC__/js/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
	</head>
	<body>
		
		<div class="page-header">
		  <h1>上线失物订单模块</h1>
		</div>

		<ul class="list-group">
		  <foreach name="list" item="l" >
				<a  href="{:U('BackgroundAdmin/SchoolmateMien/showNewsPage',array('id'=>$news['id']))}">
				  <li class="list-group-item listItems">
				  	<div class="row">
					  <div class="col-xs-7 col-sm-7 col-md-7">
					  	<font style="color:#666">
								  	
							失物人的学号：{$l['lost_number']}
							失物人的姓名：{$l['lost_name']}
							失物时间：<?php echo date('Y-m-d',$l['time']); ?>
							失物描述：{$l['lost_desc']}
                            失物是否找到：<?php if($l['mark']==1){
								echo "是";
								}else{
								echo "否";
								} ?>
		   				 </font>
					  	<div style="width: 90%;margin-left: 5%">
						   
					  	</div>
					    
					  </div>
					  <div class="col-xs-5 col-sm-5 col-md-5" align="right">
					  	    <a class="btn btn-primary" href="{:U('Admin/Admin/onlineOrderDetail',array('lost_id'=>$l['lost_id']))}" style="text-decoration:none;">详情
							</a>
					  </div>
					</div>
				  </li>
			  </a>
			   </foreach>	
		</ul>
		 <h3>{$page}</h3>

	</body>
</html>