<!DOCTYPE html>
<html lang="">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
      <title>南苑校园失物招领登录</title>
      <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
      <script type="text/javascript" src="__PUBLIC__/js/jquery-2.2.4.min.js"></script>
      <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
      <style type="text/css">
         .header {
            margin-left: 0;
            margin-right: 0;
            height:50px;
            line-height: 50px;
            background-color: #999999;
            color:#fff;
         }
         .content {
            margin-top:100px;
            /*width:90%;*/
            margin-left: 5%;
         }
         .content input {
            width:60%;
            border:1px #eee solid;
            height:30px;
            line-height: 30px;
            padding:16px 16px 16px 16px ;
         }
         #mobile
         {
            border:1px solid gray;
            border-radius:3px;
         }
      </style>
   </head>
   <body>
      <div class="page-header">
        <h4>个人信息模块</h4>
      </div>
                   <font style="color:#666">
                        <label><span>学号   </span></label>
                        <input class="form-control" type="text" id="number" value="{$user['user_number']}" size="30"/>
          
                        <label><span>姓名   </span></label>
                        <input class="form-control" type="text" id="name" value="{$user['user_name']}" size="30" />
           
                        <label><span>性别   </span></label>
                        <input class="form-control" type="text" id="sex" value="{$user['user_sex']}" size="30"/>
                  <div class="text-warning">若不修改手机号，直接点击修改按钮</div>
                  <div class="text-warning">如须更换手机号，请点击验证码按钮</div>
            <input type="text" id="mobile" value="{$user['user_mobile']}">
            <button onclick="getCode()" id="getBtn" class="btn btn-primary">
               获取验证码
            </button>
         
         <input class="form-control"  type="text" placeholder="输入验证码" id="code" value="{$user['user_code']}">
      
            <div id="getdefaultBtn" class="btn btn-gray" style="display: none">
               60s后重新获取
            </div>
      
     
         <div align="center">
            <button style="width:60%;margin-top:16px" onclick="fullMsg()" class="btn btn-warning">
               修改
            </button>
         </div>
         </font>



         <div style="visibility:hidden;display:none">
         <div id="getCodeAjax">
            {:U('Home/User/getCodeAjax')}
         </div>
         <div id="checkCodeAjax">
            {:U('Home/User/checkCodeAjax')}
         </div>
         <div id="loginindex">
             {:U('Home/User/temp')}
         </div>
          </div>
      <script type="text/javascript">
            //验证码码点击后需要等待60秒
            var disableBtn = function(){
               var btn = $('#getBtn');
               var defaultBtn = $('#getdefaultBtn');
               btn.hide();
               defaultBtn.show();
               var number = 60;
               defaultBtn.html(number + "s后重新获取");
               var intervalFun = function(){
                  if(number == 0){
                     btn.show();
                     defaultBtn.hide();
                     clearInterval(interval);
                  }else {
                     number -- ;
                     defaultBtn.html(number + "s后重新获取");
                  }
               }
               var interval = setInterval(function(){
                  intervalFun();
               },1000);
            }

                  //获取验证码
                  var getCode = function(){
                     var data = {
                        mobile:$('#mobile').val()
                     }
                     $.ajax({
                        url:$('#getCodeAjax').html(),
                        type:'post',
                        data:data,
                        success:function(res){
                           if(res.success){
                           disableBtn();//获取成功
                        }else {
                           alert(res.errmsg);
                        }
                     },
                     error:function(){
                        alter('网络错误');
                     }
                     
                  })
                  }


                  //点击提交按钮时进行验证
                  var fullMsg = function(){
                     var data = {
                        mobile:$('#mobile').val(),
                        code:$('#code').val(),
                        name:$('#name').val(),
                        number:$('#number').val(),
                        sex:$('#sex').val()
                     }
                     $.ajax({
                        url:$('#checkCodeAjax').html(),
                        type:'post',
                        data:data,
                     //请求成功
                     success:function(res){
                        if(res.success){
                           alert(res.msg);
                           window.location.href = $('#loginindex').html();
                        }else {
                           alert(res.errmsg);
                        }
                     },
                     //请求失败
                     error:function(){
                        alert('网络错误');
                     }
                  })
                  }

        </script>  
   </body>
</html>